<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<aside th:fragment="aside">
	<div class="panel">
		<div class="panel-header">
			<span>🔍 검색 이력</span>
			<span class="arrow">▶</span>
		</div>
		<div class="panel-content">
			<ul class="history-list">
				<li>11111111111</li>
				<li>22222222222</li>
				<li>33333333333</li>
			</ul>
		</div>
	</div>
  
	<div class="panel">
		<div class="panel-header">
			<span>💾 저장 목록 트리</span>
			<span class="arrow">▶</span>
		</div>
		<div class="panel-content">
			<ul class="tree-list">
				<li>AAAAA
					<ul>
						<li>11111111</li>
						<li>22222222</li>
					</ul>
				</li>
				<li>BBBBB
					<ul>
						<li>11111111</li>
						<li>22222222</li>
						<li>33333333</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</aside>
</html>