<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="/style/search.css">
<main th:fragment="search">
	<section>
		<form id="search-form">
			<div class="input-area">
				<lable>프로젝트</lable>
				<select id="project-select" aria-label="문서 유형">
					<option value="" selected>전체</option>
					<option value="A">A</option>
					<option value="B">B</option>
				</select>
				<lable>문서유형</lable>
				<select id="document-type-select" aria-label="문서 유형">
					<option value="" selected>전체</option>
					<option value="A">A</option>
					<option value="B">B</option>
				</select>
				<input type="text" id="keyword" placeholder="검색어를 입력하세요" aria-label="검색어 입력"/>
				<button type="button" id="search" class="blue">검색</button>
				<button type="button" class="white">태그</button>
			</div>
		</form>
	</section>
	<section class="list-area" aria-label="검색 결과">
		<ul id="list" class="list">
			<li>결과 아이템 1</li>
			<li>결과 아이템 2</li>
			<li>결과 아이템 3</li>
		</ul>
	</section>
	<script type="text/javascript" src="/script/search.js"></script>
</main>
</html>