<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>-</title>
<link rel="stylesheet" type="text/css" href="/style/common.css">
<link rel="stylesheet" type="text/css" href="/style/sgrid.css" />
<link rel="stylesheet" type="text/css" href="/style/toastui-editor.min.css" />
<script type="text/javascript" src="/script/sgrid.js"></script>
<script type="text/javascript" src="/script/toastui-editor-all.min.js"></script>
</head>
<body>
	<header>		
		<a id="btnOpenProject" href="#" class="header-link">프로젝트 관리</a>
		|
		<a id="btnOpenDetail" href="#" class="header-link">등록</a>
		|
		<a id="btnOpenSetting" href="#" class="header-link">환경설정</a>
	</header>
	<aside>
		<div class="panel">
			<div class="panel-header">
				<span>🔍 검색 이력</span>
				<span class="arrow">▶</span>
			</div>
			<div class="panel-content">
				<ul class="history-list">
					<li>11111111111</li>
					<li>22222222222</li>
					<li>33333333333</li>
				</ul>
			</div>
		</div>
	  
		<div class="panel">
			<div class="panel-header">
				<span>💾 저장 목록 트리</span>
				<span class="arrow">▶</span>
			</div>
			<div class="panel-content">
				<ul class="tree-list">
					<li>AAAAA
						<ul>
							<li>11111111</li>
							<li>22222222</li>
						</ul>
					</li>
					<li>BBBBB
						<ul>
							<li>11111111</li>
							<li>22222222</li>
							<li>33333333</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</aside>
	
	<main>
		<section>
			<form id="search-form">
				<div class="input-area">
					<lable>프로젝트</lable>
					<select id="searchProject" aria-label="문서 유형"></select>
					<lable>문서유형</lable>
					<select id="document-type-select" aria-label="문서 유형">
						<option value="" selected>전체</option>
						<option value="A">A</option>
						<option value="B">B</option>
					</select>
					<input type="text" id="keyword" placeholder="검색어를 입력하세요" aria-label="검색어 입력"/>
					<button type="button" id="btnSearch" class="blue">검색</button>
					<button type="button" class="white">태그</button>
				</div>
			</form>
		</section>
		<section class="list-area" aria-label="검색 결과">
			<ul id="list" class="list">
				<li>결과 아이템 1</li>
				<li>결과 아이템 2</li>
				<li>결과 아이템 3</li>
			</ul>
		</section>		
	</main>
	<footer></footer>
</body>

<script type="text/javascript" src="/script/search.js"></script>
<script type="text/javascript" src="/script/project.js"></script>
<script type="text/javascript" src="/script/detail.js"></script>
<script type="text/javascript" src="/script/detail-info.js"></script>
<script type="text/javascript" src="/script/config.js"></script>
<script type="text/javascript" src="/script/tag.js"></script>
<script th:inline="javascript">
(function(p){
	p.reference = {
		search: {
			handler: {
				call: function(){
					
					
				}
			}
		}
	}
	
	p.dialog = {		
		project: new Project(),
		detail: new Detail(),
		detailInfo: new DetailInfo(),
		tag: new Tag()
	};
	
	p.button = {
		openProject: {
			id: 'btnOpenProject',			
			element: null,
			ref: p.dialog.project,
			click: e => p.dialog.project.call()
		},
		openDetail: {
			id: 'btnOpenDetail',
			element: null,
			ref: p.dialog.detail,
			click: e => p.dialog.detail.call({action: 'INSERT'})
		},
	};
	
	p.select = {
		project: {
			id: 'searchProject',
			element: null,
			change: e => console.log(e),
			find: () => fetch('/find/project'),
		}	
	}
	
	Object.values(p.button).forEach(function(btn){
		btn.element = document.getElementById(btn.id);
		if(typeof btn.click === 'function'){
			btn.element.addEventListener('click', btn.click);	
		}
	});
	
	Object.values(p.select).forEach(function(slt){
		slt.element = document.getElementById(slt.id);
		if(typeof slt.change === 'function'){
			slt.element.addEventListener('change', slt.change);	
		}
	});
	
	Promise.all(Object.values(p.select).map(async function (m){
		try {
			const res = await m.find();
			const data = await res.json();
			return { element: m.element, data };
		}catch (e) {
			console.error(`fetch error for ${m.id}:`, e);
			return { element: m.element, data: [], error: e };
		}
	})).then(values => values.forEach(function(v){
		let option = null;
		
		if(v.data?.length > 0){
			for(let item of v.data){
				option = document.createElement('option');
				option.setAttribute('value', item.id);
				option.textContent = item.name;
				v.element.appendChild(option);
			}	
		}else{
			window.alert('Project registration required');
			p.dialog.project.open({action:'INIT'});
		}
	}));
	
})({});
</script>
</html>