<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>-</title>
<link rel="stylesheet" type="text/css" href="/search.css">
<link rel="stylesheet" type="text/css" href="/toastui-editor.min.css" />
</head>
<body>
	<header>		
		<a id="document-open" href="#" class="header-link">프로젝트 설정</a>
		|
		<a id="detail-open" href="#" class="header-link">이슈/정보 등록</a>
	</header>
	<aside>
		<div class="panel">
			<div class="panel-header">
				<span>🔍 검색 이력</span>
				<span class="arrow">▶</span>
			</div>
			<div class="panel-content">
				<ul class="history-list">
					<li>11111111111</li>
					<li>22222222222</li>
					<li>33333333333</li>
				</ul>
			</div>
		</div>
	  
		<div class="panel">
			<div class="panel-header">
				<span>💾 저장 목록 트리</span>
				<span class="arrow">▶</span>
			</div>
			<div class="panel-content">
				<ul class="tree-list">
					<li>AAAAA
						<ul>
							<li>11111111</li>
							<li>22222222</li>
						</ul>
					</li>
					<li>BBBBB
						<ul>
							<li>11111111</li>
							<li>22222222</li>
							<li>33333333</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</aside>
	
	<main>
		<section>
			<form id="search-form">
				<div class="input-area">
					<lable>프로젝트</lable>
					<select id="project-select" aria-label="문서 유형">
						<option value="" selected>전체</option>
						<option value="A">A</option>
						<option value="B">B</option>
					</select>
					<lable>문서유형</lable>
					<select id="document-type-select" aria-label="문서 유형">
						<option value="" selected>전체</option>
						<option value="A">A</option>
						<option value="B">B</option>
					</select>
					<input type="text" id="keyword" placeholder="검색어를 입력하세요" aria-label="검색어 입력"/>
					<button type="button" id="search" class="blue">검색</button>
					<button type="button" class="white">태그</button>
				</div>
			</form>
		</section>
		<section class="list-area" aria-label="검색 결과">
			<ul id="list" class="list">
				<li>결과 아이템 1</li>
				<li>결과 아이템 2</li>
				<li>결과 아이템 3</li>
			</ul>
		</section>
	</main>
	<footer></footer>
</body>

<dialog id="detail-popup">
	<form method="dialog">
		<div class="input-area">
			<!-- <select id="document-select" aria-label="문서 선택">
				<option value="1" selected>1</option>
				<option value="2">2</option>
			</select> -->
			<!-- <input type="text" id="title" placeholder="제목을 입력하세요." aria-label="제목 입력"/> -->
			
			<button id="tag-append">태그등록</button>
			<button id="detail-info-open">상세정보 등록</button>
		</div>
		<div id="editor"></div>
		<div class="button-area">
			<button value="close">닫기</button>
			<button id="detail-save">저장</button>
		</div>
	</form>
</dialog>

<dialog id="detail-info-popup">
	<form method="dialog">
		<div class="button-area">
			<button value="close">닫기</button>
		</div>
	</form>
</dialog>

<dialog id="tag-popup">
	<form method="dialog">
		<div class="button-area">
			<button value="close">닫기</button>
		</div>
	</form>
</dialog>

<dialog id="document-popup">
	<form method="dialog">
		<button value="close">닫기</button>
		<button id="document-save">저장</button>
	</form>
</dialog>

<script type="text/javascript" src="/toastui-editor-all.min.js"></script>
<script type="text/javascript" src="/search.js"></script>
</html>