<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="/style/detail.css">
</head>
<div th:fragment="detail">
	<form method="dialog">
		<div class="input-area">
			<button id="tag-append">태그등록</button>
			<button id="detail-info-open">상세정보 등록</button>
		</div>
		<div id="editor"></div>
		<div class="button-area">
			<button value="close">닫기</button>
			<button id="detail-save">저장</button>
		</div>
	</form>
	<script type="text/javascript" src="/script/detail.js"></script>
</div>
</html>
